@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nunito:wght@200&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background: rgb(13,1,37);
background: linear-gradient(90deg, rgba(13,1,37,1) 0%, rgba(3,58,91,1) 53%, rgba(8,0,47,1) 100%);
}
.body{
  color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  background: rgb(13,1,37);
background: linear-gradient(90deg, rgba(13,1,37,1) 0%, rgba(3,58,91,1) 53%, rgba(8,0,47,1) 100%);
}
.header h1{
  letter-spacing: 1px;
}
.line-through{
  text-decoration: line-through;
}
.none{
  text-decoration: none;
}
.header{
  font-family: 'Manrope', sans-serif;

  padding: 5px;
    display: flex;
    width: 20rem;
    justify-content: space-between;
  
}
.title{
  width: 160px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: 'Manrope', sans-serif;
  text-transform: capitalize;
}

.header h1{
  text-align: center;
  margin-bottom: 20px;
  padding-left: 5px;
  margin-left: 5px;
  font-size: 1.3rem;
}

.todo .check input{
  width: 20px;
  height: 20px;
  /* border-radius: 50%; */
  /* border: 2px solid red; */
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.3em;
  height: 1.3em;
  border: 0.15em solid currentColor;
  border-radius: 0.3em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}



button{
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}


.todo .desc{
  max-width: min-content;
 
}

.todo .desc .time{
  margin-top: 4px;
  font-size: 0.8rem;
  font-family: 'Nunito', sans-serif;
}

.todo-container{
  background: rgb(37,0,105);
  background: radial-gradient(circle, rgba(37,0,105,1) 0%, rgba(9,9,121,1) 36%, rgba(23,6,102,1) 65%, rgba(3,73,115,1) 100%);
  color: #fff;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
}


.todo{
  margin: 8px 1px;
  border-bottom: 1px solid white;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 17px;
 
  position: sticky;
  margin-top: 440px;

}

.footer input{
  padding: 5px 7px;
  width: 280px;
  height: 40px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.699);
  border-radius: 20px;
  
}
.input{
  border-bottom: 1px solid black;
  background: none;
  padding: 5px 7px;

}

.addbtn button{
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  height: 40px;
}
button img{
  height: 40px;
  width: 40px;
}