@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Nunito:wght@200&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: rgb(13,1,37);
background: linear-gradient(90deg, rgba(13,1,37,1) 0%, rgba(3,58,91,1) 53%, rgba(8,0,47,1) 100%);
}

.body{
  color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  background: rgb(13,1,37);
background: linear-gradient(90deg, rgba(13,1,37,1) 0%, rgba(3,58,91,1) 53%, rgba(8,0,47,1) 100%);
}
.header h1{
  letter-spacing: 1px;
}
.line-through{
  text-decoration: line-through;
  color: rgba(172, 167, 167, 0.801);
}
.none{
  text-decoration: none;
}
.header{
  font-family: 'Manrope', sans-serif;

  padding: 5px;
    display: flex;
    width: 20rem;
    justify-content: space-between;
  
}
.title{
  width: 160px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: 'Manrope', sans-serif;
  text-transform: capitalize;
}

.header h1{
  text-align: center;
  margin-bottom: 20px;
  padding-left: 5px;
  margin-left: 5px;
  font-size: 1.3rem;
}

.card .img{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 4px;
    padding-top: 5px;
    margin-top: 5px;
   
}

.card .img img{
  border-radius: 5px;
  width: 300px;
}
.todo .check input{
  width: 20px;
  height: 20px;
  /* border-radius: 50%; */
  /* border: 2px solid red; */
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.3em;
  height: 1.3em;
  border: 0.15em solid currentColor;
  border-radius: 0.3em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: white;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.delete:hover{
  scale: 1.5;
}

button{
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}


.todo .desc{
  max-width: min-content;
 
}

.todo .desc .time{
  margin-top: 4px;
  font-size: 0.8rem;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 5px;
}

.todo-container{
  color: #fff;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  background: rgb(37,0,105);
  background: radial-gradient(circle, rgba(37,0,105,1) 0%, rgba(9,9,121,1) 36%, rgba(23,6,102,1) 65%, rgba(3,73,115,1) 100%);
}


.todo{
  margin: 8px 1px;
  border-bottom: 1px solid white;
  padding-bottom: 18px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tag{
  display: block;
  width: fit-content;
  margin-top: 5px;
  outline: #fff;
  
}

.SSR{
  background-color: rgb(196, 166, 0);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 3px 1px 8px 1px #E6B200;
}
.SR{
  background-color: rgb(109, 0, 172);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0.5px 0.2px 5px 1px rgb(189, 118, 230);
  border: 1px solid rgba(112, 185, 182, 0.863);
}
.R{
  background-color: rgb(0, 177, 118);
  border-radius: 5px;
  padding: 5px;

}
.Normal{
  background-color: rgb(87, 52, 0);
  border-radius: 5px;
  padding: 5px;

}

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0px;
  position: sticky;
  margin-top: 6px;
  background-color: #ccabf1;
  border-radius: 20px;

}

.footer input{
  padding: 5px 7px;
  width: 200px;
  height: 40px;
  border: none;
  outline: none;
  background: rgb(84, 48, 243);
  border-radius: 20px; 
}

.footer input::placeholder{
  color: #fff;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0.03rem;
}


.input{
  /* border-bottom: 1px solid black; */
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  letter-spacing: 0.05rem;
  width: 230px;
}

.addbtn button{
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  height: 40px;
}

.addbtn button:hover{
  scale: 1.1;
}

.addbtn button img{
  height: 50px;
  width: 50px;
}

/* down animation */
.upanimation{
  animation: up 1s ease 0s 1 normal forwards;
}

@keyframes up {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


/* down animation */
.downAnimation{
  animation: down 1s ease 0s 1 normal forwards;
}

@keyframes down {
	0% {
		opacity: 0;
		transform: translateY(-250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

 .category select {
    outline: none;
    padding: 2px;
    border-radius: 1.3rem;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(115, 59, 248);
    font-weight: 600;
    color: white;
    width: 20px;
  }
  
  .category select:hover{
    color: white;
    scale: 1.1;
    border-radius: 1.3rem;
    background-color: rgb(76, 0, 255);
    outline: none;
}


.react-input-emoji--button svg{
  fill: rgb(115, 59, 248) !important;
}
.react-input-emoji--button svg:hover{
  fill: rgb(148, 0, 233) !important;
}


.react-emoji-picker {
  overflow: scroll;
  margin-left: 26px !important;
}
